* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #334155;
  color: #f8fafc;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
}

.answers {
  display: flex;
  justify-content: space-evenly;
  font-size: 40px;
  padding-top: 30px;
}

.instruction {
  text-align: center;
  font-size: 32px;
  margin-top: 30px;
}

.score {
  display: flex;
  justify-content: center;
  gap: 100px;
  font-weight: bold;
  font-size: 18px;
  margin-top: 30px;
}

.text {
  margin-top: 40px;
  font-size: 24px;
}

.element {
  padding: 20px;
}

.element:hover {
  background-color: #f8fafc;
  color: #334155;
  border-radius: 50%;
  cursor: pointer;
}

.score__player__result,
.score__pc__result {
  font-size: 38px;
  font-weight: 400;
}

.replay {
  padding: 12px 24px;
  border: transparent;
  font-size: 18px;
  border-radius: 12px;
  margin-top: 16px;
  cursor: pointer;
}

.hide {
  display: none;
}

@media (min-width: 620px) {
  .container {
    width: 580px;
  }
}
